    .kelas1{
        background-color: rgb(17, 0, 255);
        color: rgb(255, 0, 0);
    }
    .kelas2{
        background-color: rgb(255, 0, 0);
                color: rgb(0, 255, 21);

    }

    .baru{
        color: blue;
    }